<ion-content class="ion-padding user-account-section-container" scroll-y="false">
  <div class="user-account-section">
    <div class="top-section">
      <div class="logo-container">
        <img class="login-app-logo-img" src="./assets/note-logo-white-bg.png" alt="">
        <div class="app-name">{{'stellarPrivateNotes' | translate}}</div>
      </div>
    </div>

    <!-- EMAIL FORM -->
    <div class="form-card">
      <ion-button fill="clear" size="small" class="back-button" (click)="goToBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <div class="form-card-content" *ngIf="!showVerification">
        <div class="title">{{'forgotPassword' | translate}}</div>
        <p class="subtitle">{{'pleaseEnterEmailToReceiveVerificationCode' | translate}}</p>

        <form [formGroup]="forgotPasswordForm">
          <!-- Email -->
          <ion-item class="input-field" lines="none" style="margin-bottom: 0;">
            <ion-input
              placeholder="Email"
              type="email"
              formControlName="email"
              [ngClass]="{'border-danger': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
            <small>{{'emailIsRequired' | translate}}</small>
          </ion-text>
          <ion-text color="danger" *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched">
            <small>{{'invalidEmailFormat' | translate}}</small>
          </ion-text>
    
          <ion-button class="confirm-button" (click)="sendCode()" style="margin-top: 15px!important;">
            {{!isProcessing ? ('sendCode' | translate): ('processing' | translate)}}
          </ion-button>
        </form>
      </div>


      <!-- CODE INPUT FORM -->
      <div class="form-card-content" *ngIf="showVerification">
        <div class="verify-icon">
          <!-- <ion-icon name="mail-outline" class="mail-icon"></ion-icon> -->
          <img src="./assets/tabler-icon-mail-forward.png" width="40" height="40">
        </div>

        <div class="title">{{'pleaseInputCode' | translate}}</div>
        <p class="subtitle">
          {{'weSentACodeTo' | translate}} <strong>{{ email }}</strong>
        </p>

        <div class="code-input-wrapper">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig" containerClass="ng-ong-otp-box">
          </ng-otp-input>
        </div>

        <div class="resend-section">
          {{'dontReceiveACode' | translate}} <a (click)="resendCode()">{{'resenCode' | translate}}</a>
        </div>
<!-- 
        <div class="footer">
          <div class="change-email">
            <a (click)="useDifferentEmail()">Use different email</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>