<ion-content class="user-account-section">
  <div class="top-section">
    <div class="logo-container">
      <img class="login-app-logo-img" src="./assets/note-logo-white-bg.png" alt="">
      <div class="app-name">Stellar Private Notes</div>
    </div> 
  </div>

  <!-- EMAIL FORM -->
  <div class="form-card" *ngIf="!showVerification">
    <ion-button fill="clear" size="small" class="back-button" routerLink="/profile/login">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="title">Forgot Password</div>
    <p class="subtitle">Please enter email to receive verification code</p>
    <form [formGroup]="forgotPasswordForm">
      <!-- Email -->
      <ion-item class="input-field" lines="none" style="margin-bottom: 0;">
        <ion-input
          placeholder="Email"
          type="email"
          formControlName="email"
          [ngClass]="{'border-danger': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
        <small>Email is required</small>
      </ion-text>
      <ion-text color="danger" *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched">
        <small>Invalid email format</small>
      </ion-text>

      <ion-button class="confirm-button" (click)="sendCode()">
        {{!isProcessing ? 'Send Code': 'Processing...' }}
      </ion-button>
    </form>
  </div>

  <!-- CODE INPUT FORM -->
  <div class="form-card" *ngIf="showVerification">
    <div class="verify-icon">
      <ion-icon name="mail-outline" class="mail-icon"></ion-icon>
    </div>

    <div class="title">Please input code</div>
    <p class="subtitle">
      We sent a code to <br /><strong>{{ email }}</strong>
    </p>

    <div class="code-input-wrapper">
        <ng-otp-input 
        (onInputChange)="onOtpChange($event)" 
        [config]="otpConfig"
        containerClass="ng-ong-otp-box">
      </ng-otp-input>
    </div>

    <div class="resend-section">
      Don’t receive a code? <a (click)="resendCode()">Resend code</a>
    </div>

    <div class="footer">
      <div class="change-email">
        <a (click)="useDifferentEmail()">Use different email</a>
      </div>
    </div>
  </div>
</ion-content>
