<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  * WARNING WHEN YOU RESET YOUR PASSWORD ALL STORED NOTES WILL BE DELETED.
  <br><br>THE NOTES CANNOT BE RECOVERED WITHOUT THE PASSWORD.

  <br><br>

  <div align="center">
    <ion-button color="danger" (click)="resetNotes()">RESET PASSWORD</ion-button>
  </div>

  <br><br>
  IF YOU CLICK ON RESET PASSWORD ALL NOTES WILL BE DELETED AND CAN NEVER BE RECOVERED !

</ion-content>
