<div class="editor-wrapper">

  <div id="custom-toolbar" class="toolbar" #toolbar>

    <button type="button" class="ql-undo">
    </button>

    <button type="button" class="ql-redo">
    </button>

    <div class="divider"></div>

    <button type="button" class="ql-bold">
    </button>

    <button class="ql-strike">
    </button>

    <div class="list-group">
      <button type="button" class="ql-list" value="bullet">
      </button>

      <button type="button" class="ql-list" value="ordered">
      </button>
    </div>

    <div class="header-pill">
      <select class="ql-header">
        <option value="false">Standard</option>
        <option value="1">Heading 1</option>
        <option value="2">Heading 2</option>
        <option value="3">Heading 3</option>
        <option value="4">Heading 4</option>
        <option value="5">Heading 5</option>
        <option value="6">Heading 6</option>
      </select>
    </div>

    <button class="ql-link">
    </button>

    <button class="ql-image">
    </button>

  </div>

  <!-- Editor -->
  <quill-editor
  [ngModel]="note_text"
  (ngModelChange)="onContentChange($event)"
  [modules]="quillModules"
  (onEditorCreated)="onEditorCreated($event)"
  placeholder="Enter your note here..">
</quill-editor>

</div>

