ion-header {
  box-shadow: none;
  // padding: 14px 16px;
  --background: #4264fa;
}

ion-title {
  font-size: 16px;
  font-weight: 700px;
  text-align: left;
}

ion-toolbar {
  --min-height: 0;
  padding: 14px 16px;
  --padding-top: 14px;
}

.header-primary {
  background: #4264fa;
  --background: #4264fa;
  --color: white;
}

.header-white {
  --background: white;
}

.back-btn {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-end: 7px;
  --padding-start: 0;
  min-height: 0;

  ion-img {
    width: 20px;
  }
}
