<ion-header [translucent]="true" [class]="className">
  <ion-toolbar [class]="className">
    <ng-container
      [ngTemplateOutlet]="backBtn?.templateRef || defaultBackButton"
    ></ng-container>
    <ion-title> {{ title }} </ion-title>

    <ion-buttons slot="end">
      <ng-container
        [ngTemplateOutlet]="actionBar?.templateRef || null"
      ></ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-template #defaultBackButton>
  <ng-container *ngIf="backButton">
    <ion-buttons slot="start">
      <ion-button
        (click)="handleBackButtonClick()"
        class="back-btn"
        fill="clear"
      >
        <ng-container *ngIf="variant == 'primary'">
          <ion-img src="assets/images/header-back-button-white.svg"></ion-img>
        </ng-container>
        <ng-container *ngIf="variant == 'white'"
          ><ion-img src="assets/images/header-back-button-grey.svg"></ion-img>
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ng-container>
</ng-template>
