ion-header {
  box-shadow: none;
  padding: 14px 16px;
}

ion-title {
  font-size: 16px;
  font-weight: 700px;
}

ion-toolbar {
  --min-height: 0;
}

.header-primary {
  background: #4264fa;
  --background: #4264fa;
  --color: white;
}

.header-white {
  --background: white;
}
