<div class="ion-padding">
  <div class="modal-box">
    <div class="modal-header">
      <div class="header-title">{{'shareNote' | translate}}</div>
      <ion-icon name="close-outline" (click)="closeModal()" class="close-icon"></ion-icon>
    </div>

    <div class="modal-body">
      <div *ngIf="step == 1" style="padding: 5px;">

        <div class="header-container">
          <div class="left-section">
            <div class="logo-box">
              <img src="./assets/stellar-secret-icon.png" alt="icon" />
            </div>
            <span class="app-title">{{'stellarSecret' | translate }}</span>
          </div>
          <div class="right-section">
            <!-- <span class="info-icon"></span> -->
            <ion-icon class="info-icon" name="information-circle-outline"></ion-icon>
            <a href="https://stellarsecret.io/how-it-works" class="how-it-works">{{'howItWorks' | translate}}</a>
          </div>
        </div>

        <p class="modal-title">
          {{'shareYourNoteAsAsSecretMessage' | translate}}
        </p>
        <p class="modal-sub-title" style="margin-bottom: 0;">{{'shareYourNoteAsAsSecretMessageDescForDesktop' | translate}}</p>
      </div>

      <ng-container *ngIf="step == 2">
        <div class="true-img-circle-container">
          <img src="./assets/true-circle.png" class="true-img-circle">
        </div>
        <p class="modal-title">{{'yourNoteSecretCreated' | translate}} <br />{{'copyLinkOrShareIt' | translate}}</p>

        <div class="secret-link">{{ secretUrl }}</div>

        <ion-button expand="block" class="copy-btn" (click)="copyLink()">{{'copy' | translate}}</ion-button>
        <ion-button expand="block" class="share-btn" fill="outline" (click)="shareLink()">{{'share' | translate}}</ion-button>

        <div class="expires">
          <!--<span class="text-muted">Expires:</span> {{ expiryText }}-->
        </div>

        <div class="burn-secret" (click)="burnSecret()" *ngIf="!isDeletingSecret">
          <img src="./assets/burn-icon.png" class="burn-img">
          <span class="text-danger">{{'burnSecret' | translate}}</span>
        </div>
        <div class="burn-secret" (click)="burnSecret()" *ngIf="isDeletingSecret">
          <img src="./assets/burn-icon.png" class="burn-img">
          <span class="text-danger">{{'burningSecret' | translate}}</span>
        </div>
      </ng-container>
    </div>

    <div class="modal-footer" *ngIf="step == 1">
      <ion-button expand="block" class="copy-btn" 
      (click)="createSecret()" [disabled]="isLoading">{{'createSecret' | translate }}</ion-button>
    </div>
  </div>
</div>
