<ion-content class="ion-padding">
  <div class="modal-box">
    <div class="modal-header">
      <div class="header-title">Share note</div>
      <ion-icon name="close-outline" (click)="closeModal()" class="close-icon"></ion-icon>
    </div>

    <div class="modal-body">
      <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
      <p class="modal-title">Your note secret created. <br />Copy link or share it.</p>

      <div class="secret-link">{{ secretUrl }}</div>

      <ion-button expand="block" class="copy-btn" (click)="copyLink()">Copy</ion-button>
      <ion-button expand="block" class="share-btn" fill="outline" (click)="shareLink()">Share</ion-button>

      <div class="expires">
        <span class="text-muted">Expires:</span> {{ expiryText }}
      </div>

      <div class="burn-secret" (click)="burnSecret()">
        <ion-icon name="flame-outline" color="danger"></ion-icon>
        <span class="text-danger">Burn Secret</span>
      </div>
    </div>
  </div>
</ion-content>
