<ion-content class="user-account-section" [scrollY]="true">
  <div class="top-section">
    <div class="logo-container">
      <div class="app-name">{{ 'deleteAccount' | translate }}</div>
    </div>
  </div>

  <div class="form-card delete-form-card">
    <ion-button fill="clear" size="small" class="back-button" (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="title">{{ 'deleteYourStellarId' | translate }}</div>
    <p class="subtitle">
      {{ 'deleteAccountDescription' | translate }}
    </p>

    <form [formGroup]="deleteForm">
      <ion-item
        class="input-field"
        lines="none"
        [ngClass]="{
          'mb-0': deleteForm.get('currentPassword')?.invalid && deleteForm.get('currentPassword')?.touched
        }"
      >
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="'currentPassword' | translate"
          formControlName="currentPassword"
          [ngClass]="{
            'border-danger': deleteForm.get('currentPassword')?.invalid && deleteForm.get('currentPassword')?.touched
          }"
        ></ion-input>

        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          class="password-toggle"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="deleteForm.get('currentPassword')?.hasError('required') && deleteForm.get('currentPassword')?.touched">
        <small>{{ 'currentPasswordRequired' | translate }}</small>
      </ion-text>

      <div class="delete-warning-box">
        <div class="delete-warning-title">{{ 'beforeYouContinue' | translate }}</div>
        <ul>
          <li>{{ 'deleteAccountWarningLine1' | translate }}</li>
          <li>{{ 'deleteAccountWarningLine2' | translate }}</li>
          <li>{{ 'deleteAccountWarningLine3' | translate }}</li>
        </ul>
      </div>

      <ion-item class="confirm-item" lines="none">
        <ion-checkbox formControlName="confirmDelete" slot="start"></ion-checkbox>
        <ion-label>{{ 'deleteAccountPermanentConfirm' | translate }}</ion-label>
      </ion-item>
      <ion-text color="danger" *ngIf="deleteForm.get('confirmDelete')?.hasError('required') && deleteForm.get('confirmDelete')?.touched">
        <small>{{ 'deleteAccountPermanentConfirmError' | translate }}</small>
      </ion-text>

      <ion-button class="delete-button" color="danger" (click)="submitDeleteRequest()" [disabled]="isSaving">
        <ng-container *ngIf="!isSaving; else loading">
          {{ 'deleteAccount' | translate }}
        </ng-container>

        <ng-template #loading>
          <ion-spinner name="crescent"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>
  </div>
</ion-content>
