<div class="user-popover">
  <div class="user-info">
    <ng-container *ngIf="isUserIsLoggedIn">
      <div class="label">Account Name</div>
      <div class="name">Kelly Sikkema</div>
    </ng-container>
    <ng-container *ngIf="!isUserIsLoggedIn">
      <div class="login-label">Log In to your Profile</div>
      <div class="login-sub-label">Please enter your email and password</div>

      <ion-button class="login-btn">Log In</ion-button>

    </ng-container>
  </div>

  <div class="menu-item-container">
    <div class="menu-item" (click)="openSettings()">
      <!-- <ion-icon name="settings-outline"></ion-icon> -->
      <img src="assets/setting-horizontal.svg" />
      <span>Settings</span>
    </div>

    <div *ngIf="isUserIsLoggedIn" class="menu-item" (click)="logout()" style="border-top: 1px solid #EAEAF0;">
      <!-- <ion-icon name="log-out-outline"></ion-icon> -->
      <img src="assets/tabler-icon-logout.svg" />
      <span>Logout</span>
    </div>
  </div>
</div>