.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

.welcome-secure {
  margin-top: 75px;
  ion-img {
    width: 100px;
    height: 100px;
  }
}

.welcome-title-text {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
