<ion-content class="ion-padding user-account-section-container" scroll-y="false">
  <div class="user-account-section">
    <!-- Top Logo Area -->
    <div class="top-section">
      <div class="logo-container">
        <img class="login-app-logo-img" src="./assets/note-logo-white-bg.png" alt="">
        <div class="app-name">{{'stellarPrivateNotes' | translate}}</div>
      </div>
    </div>

    <!-- White Card with Fields -->
    <div class="form-card">
      <ion-button fill="clear" size="small" class="back-button" (click)="backToLogin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <div class="form-card-content">
        <div class="title">{{'createNewPassword' | translate}}</div>
        <p class="subtitle">{{'createNewPasswordForYourAccount' | translate}}</p>

        <form [formGroup]="passwordForm">
          <ion-item 
              class="input-field" 
              lines="none" 
              style="margin-top: 16px"
              [ngClass]="{
                'mb-0': passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
              }"
            >
              <ion-input
                [type]="showNewPassword ? 'text' : 'password'"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{
                  'border-danger': passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
                }"
              ></ion-input>
            
              <ion-icon
                name="{{ showNewPassword ? 'eye-off-outline' : 'eye-outline' }}"
                slot="end"
                class="password-toggle"
                (click)="toggleNewPasswordVisibility()"
              ></ion-icon>
            </ion-item>
          
            <ion-text color="danger" *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched">
              <small>{{'passwordIsRequired' | translate}}</small>
            </ion-text>
            <ion-text color="danger" *ngIf="passwordForm.get('password')?.hasError('minlength') && passwordForm.get('password')?.touched">
              <small>{{'passwordAtLeastLength' | translate}}</small>
            </ion-text>
      
          <ion-item class="input-field" lines="none"
          style="margin-top: 16px"
              [ngClass]="{
                'mb-0': passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
              }">
            <ion-input
              placeholder="Confirm New Password"
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              lines="none" 
              shape="round"
              [ngClass]="{
                'border-danger': passwordForm.get('confirmPassword')?.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched
              }">
            </ion-input>
            <ion-icon
              slot="end"
              [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
              class="password-toggle"
              (click)="toggleConfirmPasswordVisibility()">
            </ion-icon>
          </ion-item>
      
          <ion-text color="danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched">
            <small>{{'passowrdDoNotMatch' | translate}} </small>
          </ion-text>
      
          <ion-button class="confirm-button" (click)="confirm()">
            {{!isSaving ? ('confirm' | translate) : ('processing' | translate)}}
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>