<ion-list lines="none">
  <ng-container *ngFor="let note of notes">
    <ion-row
      [class.lock]="note.protected"
      class="note-item"
      (click)="handleClick($event, note.id)"
    >
      <ion-row class="note-item-1">
        <ion-label>
          <p>
            {{ note.last_modified | getFormatedDateNote : "date" }}
          </p>
          <p>
            {{ note.last_modified | getFormatedDateNote : "month" }}
          </p>
        </ion-label>
        <div class="lock-img" *ngIf="note.protected">
          <ion-img src="assets/images/lock.svg"></ion-img>
        </div>
      </ion-row>
      <ion-row class="note-item-2">
        <p>{{ note.title }}</p>
        <p>
          {{ note.text }}
        </p>
        <div class="lock-text" *ngIf="note.protected">
          <p>PROTECTED</p>
        </div>
        <ng-container *ngIf="isCheckable">
          <ion-icon
            name="checkmark-circle-outline"
            class="note-check"
            color="note-primary"
            *ngIf="getIsChecked(note.id)"
          ></ion-icon>
          <ion-icon
            name="ellipse-outline"
            class="note-check"
            *ngIf="!getIsChecked(note.id)"
          ></ion-icon>
        </ng-container>
      </ion-row>
    </ion-row>
  </ng-container>
</ion-list>
