.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.welcome-secure {
  margin-bottom: 60px;
}

.welcome-title {
  margin-bottom: 20px;
}

.welcome-title-text {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.welcome-desc {
  margin-bottom: 70px;
}

.welcome-desc-text {
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
