<ion-content class="ion-padding">
  <ion-grid class="container ion-align-items-center">
    <ion-row class="welcome-secure">
      <ion-img
        src="assets/images/secure-data-lock-svgrepo-com.svg"
        alt="secure-data-lock-svgrepo-com"
      ></ion-img>
    </ion-row>
    <ion-row class="welcome-title">
      <h3 class="grey-1 welcome-title-text">Welcome to Stellar Notes!</h3>
    </ion-row>
    <ion-row class="ion-align-self-end grey-2 welcome-desc">
      <p class="ion-text-center welcome-desc-text">
        This is the most secure and user-friendly notes app on the market. Your
        notes are encrypted and can only be accessed by you, using your
        password.
      </p>
    </ion-row>
    <ion-row class="w-full">
      <note-link href="/home" value="Getting Start Now" />
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
