<div class="confirmation-modal">
  <img src="../../assets/icon-lock.svg" class="burn-img" alt="">
  <h2>This note is locked</h2>
  <p>Enter password for note</p>
  <div class="input-group" style="position: relative;">
    <ion-input #passwordInput type="{{ showPassword ? 'text' : 'password' }}" shape="round" placeholder="Password"></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'"
              (click)="togglePasswordVisibility()"></ion-icon>
  </div>
  <div class="buttons">
    <p class="blue-btn transparent-btn" (click)="dismiss(false)">Cancel</p>
    <p class="blue-btn" (click)="dismiss(true)">Confirm</p>
  </div>
</div>