<ion-header [translucent]="true" style="box-shadow:none;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        icon="chevron-back-outline"
        class="custom-back-button">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="padding:0 10px;color:#0B0C19;font-size:18px;font-weight:400;">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div  class="account-menu-content">


     <!-- Account Name Card -->
    <div *ngIf="isLoggedIn; else loginBlock">
      <div class="account-name-card">
        <div class="label-title">Account Name</div>
        <div class="account-name">{{user?.email}}</div>
      </div>
    </div>

    <ng-template #loginBlock>
      <div class="login-profile-box">
        <div class="login-title">Log In to your Stellar ID</div>
        <div class="login-sub-title">Sign into your Stellar ID to sync your notes. All notes are end-to-end encrypted.</div>
        <ion-button expand="block" class="login-button" (click)="goToLogin()">Log In</ion-button>
        <br>
        <div class="footer">
            <span class="label-beforee-link">Don’t have an Stellar ID? </span>
            <a (click)="navigateToRegister()">Create Stellar ID</a>
        </div>
      </div>
    </ng-template>


      <!-- Settings -->
      <div (click)="goToSettings()" class="action-item">
        <ion-icon name="options-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </div>


      <!-- Logout -->
      <div  *ngIf="isLoggedIn" (click)="confirmLogout()" class="action-item-logout">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </div>


  </div>
</ion-content>
