<ion-header [translucent]="true" class="header-primary">
  <ion-toolbar class="header-primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()"> Close </ion-button>
          </ion-buttons>
          <ion-title>Password On Notes App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p *ngIf="hasAppChallengePassword()">
          To disable the notes app password, please enter your password to
          confirm.
          <br /><br />
          <span style="color: red"
            >* Warning, this will leave your notes in a decrypted state. You can
            always add a password again.</span
          >
        </p>

        <div *ngIf="!hasAppChallengePassword()">
          <password-strength-meter
            [password]="notesAppPassword"
          ></password-strength-meter>
          {{passwordStrengthHelperText}}
        </div>
        <br /><br />

        <ion-list>
          <ion-item>
            <ion-input
              type="password"
              placeholder="Password"
              (ionInput)="notesAppPasswordChange()"
              [(ngModel)]="notesAppPassword"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="password"
              placeholder="Confirm Password"
              [(ngModel)]="confirmPassword"
            ></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" (click)="save()">Save</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <note-setting-card
      title="Ask For Password"
      content="When open App you need enter your password."
      [status]="appPasswordChallenge"
      (statusChangeEvent)="appPasswordChallengeDialog($event)"
    >
    </note-setting-card>
    <note-setting-card
      title="Wipe Note Data"
      content="Wipe notes will delete ALL notes on your phone if you enter the password for the app wrongly 20 times in a row. It cannot be turned off."
      (statusChangeEvent)="null"
    >
    </note-setting-card>
  </ion-list>

  <!-- <ion-item>
    <ion-toggle
      checked="true"
      [(ngModel)]="appPasswordChallenge"
      (ionChange)="appPasswordChallengeDialog()"
      [enableOnOffLabels]="true"
    >
      Ask for Password<br />when opening App
    </ion-toggle>
  </ion-item> -->

  <ion-item *ngIf="appPasswordChallenge">
    <ion-toggle
      checked="true"
      [(ngModel)]="wipeNotesOnFailedPasswords"
      [enableOnOffLabels]="true"
      disabled=""
    >
      Wipe Notes if there<br />
      is 20+ failed login attempts
    </ion-toggle>
  </ion-item>

  <p class="ion-padding" *ngIf="appPasswordChallenge">
    * Wipe notes will delete ALL notes on your phone if you enter the password
    for the app wrongly 20 times in a row. It cannot be turned off.
  </p>

  <hr />
</ion-content>

<app-footer>
  <ng-template footerBody>
    <note-button
      color="danger"
      expand="full"
      (click)="deleteWholeAppStorage()"
      value="Delete All Notes"
    ></note-button>
  </ng-template>
</app-footer>
