<ion-item lines="none">
  <ion-label>
    <ion-text color="note-grey">
      <p class="note-pws-lebal">{{ label }}</p>
    </ion-text>
  </ion-label>
</ion-item>
<ion-item lines="none" class="password-container">
  <ion-input
    [placeholder]="placeholder"
    (ionInput)="handleChangeEvent($event)"
    [(ngModel)]="notesAppPassword"
    color="primary"
    [type]="inputType"
    (keyup)="handleKeyup($event)"
  ></ion-input>
  <ion-button fill="clear" (click)="toggleShowPws()">
    <ion-img src="assets/images/eye.png"></ion-img>
  </ion-button>
</ion-item>

<ng-container *ngIf="variant === 'strength'">
  <ion-list lines="none" class="pws-strength-list">
    <ion-item>
      <note-password-strength
        [passwordToCheck]="notesAppPassword"
        (checkStrengthEvent)="changePasswordStrength($event)"
      ></note-password-strength>
    </ion-item>
    <ion-item>
      <ion-text [color]="colors[strengthLevel]" class="pws-status">
        {{ strengthStatus }}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-img class="pws-icon" src="assets/images/info.svg"></ion-img>
        <ion-text class="pws-helper-text"
          ><p>
            We recommend a password of minimum 6 characters with a mix of letters, numbers and symbols.
          </p></ion-text
        >
      </ion-row>
    </ion-item>
  </ion-list>
</ng-container>
