:host {
  width: 100%;
}

ion-img {
  width: 22px;
  height: 15px;
}

ion-item {
  --min-height: 0;
  --padding-start: 0;
}

.password-container {
  --padding-start: 12px;
  --border-width: 1px;
  --border-color: #4264fa;
  --border-radius: 4px;
  --inner-padding-end: 5px;
  --min-height: 40px;
}

ion-input {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  --highlight-color: var(--ion-color-note-primary) !important;
}


.note-pws-lebal {
  margin-bottom: 7px;
}

.pws-icon {
  width: 15px;
  margin-right: 8px;
  height: auto;
}

.pws-helper-text {
  flex-basis: 0;
  flex-grow: 1;
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.pws-strength-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.pws-strength-list {
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
  }
}

.pws-status {
  font-size: 10px;
}
