<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"
          class="custom-back-button"  text="">
          <ion-icon slot="icon-only" style="display: none;"></ion-icon>
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h4>{{'signInWithYourStellarId' | translate}}</h4>
  <ion-item>
    <ion-label stacked>{{'username' | translate}}</ion-label>
    <ion-input></ion-input>
  </ion-item>

    <ion-item>
           <ion-label stacked>{{'password' | translate}}</ion-label>
         <ion-input type="password"></ion-input>
        </ion-item>
        <div text-center margin-top>
          {{'createStellarID' | translate}} >

            <hr>
          <button>
            {{'signInUpper' | translate}}
          </button>
        </div>
</ion-content>
