/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-font-family: 'Poppins';
  font-family: 'Poppins', sans-serif;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: none;
}

.confirmation-popup {
  --height: auto;
  --border-radius: 24px;
  --width: 350px;
  --backdrop-opacity: 0.6 !important;
}

.fa {
  font-family: none !important;
}

.fa.fa-undo::before {
  // Replace the url to the icon that you want


  background-image: url('/assets/icon/undo-circular-arrow.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"" !important;
}


.fa.fa-repeat::before {

  background-image: url('/assets/icon/redo-arrow-symbol.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}


.fa.fa-link::before {

  background-image: url('/assets/icon/link-solid.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

.angular-editor-toolbar {
  position: fixed !important;
  z-indeX: 98 !important;
}

.angular-editor .angular-editor-wrapper {
  top: 80px !important;
}


.fa.fa-font::before {

  background-image: url('/assets/icon/link-slash-solid.svg');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}


.fa.fa-chain-broken::before {

  background-image: url('/assets/icon/link-slash-solid.svg');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

.fa.fa-image::before {

  background-image: url('/assets/icon/image-regular.svg');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}


// Strikethrough
.fa.fa-strikethrough::before {
  background-image: url('/assets/icon/line.png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}


// Strikethrough
.fa.fa-list-ul::before {
  background-image: url('/assets/icon/list.png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Strikethrough
.fa.fa-list-ol::before {
  background-image: url('/assets/icon/list(1).png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Strikethrough
.fa.fa-strikethrough::before {
  background-image: url('/assets/icon/line.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Bold
.fa.fa-bold::before {
  background-image: url('/assets/icon/bold.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

ion-button,
ion-fab-button,
ion-item {
  --box-shadow: none!important;
  box-shadow: none !important;
  border: 0 !important; 
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 5px;
}

.app-ask-password-logo-container {
  justify-content: center!important;
  margin-top: 40px!important;
}

.logo-img {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
}

.logo-text {
  color: #0b0c19;
  font-weight: 600;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  margin-left: 10px;
}


ion-input {
  --padding-bottom: 15px!important;
  --padding-end: 15px!important;
  --padding-start: 20px!important;
  --padding-top: 15px!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: flex-start!important;
  align-self: stretch!important;
  --border-radius: 250px!important;
}