/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-font-family: 'Poppins';
  font-family: 'Poppins', sans-serif;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: none;
}

.confirmation-popup {
  --height: auto;
  --border-radius: 24px;
  --width: 350px;
  --backdrop-opacity: 0.6 !important;
}

.fa {
  font-family: none !important;
}

.fa.fa-undo::before {
  // Replace the url to the icon that you want


  background-image: url('/assets/icon/undo-circular-arrow.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"" !important;
}

.fa.fa-repeat::before {

  background-image: url('/assets/icon/redo-arrow-symbol.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}




// Strikethrough
.fa.fa-strikethrough::before {
  background-image: url('/assets/icon/line.png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}


// Strikethrough
.fa.fa-list-ul::before {
  background-image: url('/assets/icon/list.png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Strikethrough
.fa.fa-list-ol::before {
  background-image: url('/assets/icon/list(1).png');
  background-size : 24px 24px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Strikethrough
.fa.fa-strikethrough::before {
  background-image: url('/assets/icon/line.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}

// Bold
.fa.fa-bold::before {
  background-image: url('/assets/icon/bold.png');
  background-size : 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:""  !important;
}