:root {
	--ion-color-note-primary: #4264FA;
	--ion-color-note-primary-rgb: 66,100,250;
	--ion-color-note-primary-contrast: #ffffff;
	--ion-color-note-primary-contrast-rgb: 255,255,255;
	--ion-color-note-primary-shade: #3a58dc;
	--ion-color-note-primary-tint: #5574fb;

	--ion-color-note-grey: #4D4C4C;
	--ion-color-note-grey-rgb: 77,76,76;
	--ion-color-note-grey-contrast: #ffffff;
	--ion-color-note-grey-contrast-rgb: 255,255,255;
	--ion-color-note-grey-shade: #444343;
	--ion-color-note-grey-tint: #5f5e5e;
	
	--ion-color-note-faint-grey: #8A8A8A;
	--ion-color-note-faint-grey-rgb: 138,138,138;
	--ion-color-note-faint-grey-contrast: #000000;
	--ion-color-note-faint-grey-contrast-rgb: 0,0,0;
	--ion-color-note-faint-grey-shade: #797979;
	--ion-color-note-faint-grey-tint: #969696;
	
	--ion-color-note-green: #08B805;
	--ion-color-note-green-rgb: 8,184,5;
	--ion-color-note-green-contrast: #ffffff;
	--ion-color-note-green-contrast-rgb: 255,255,255;
	--ion-color-note-green-shade: #07a204;
	--ion-color-note-green-tint: #21bf1e;

	
	--ion-color-note-warning: #ff751a;
	--ion-color-note-warning-rgb: 255,117,26;
	--ion-color-note-warning-contrast: #fff;
	--ion-color-note-warning-contrast-rgb: 0,0,0;
	--ion-color-note-warning-shade: #e06717;
	--ion-color-note-warning-tint: #ff8331;
}

.ion-color-note-primary {
	--ion-color-base: var(--ion-color-note-primary);
	--ion-color-base-rgb: var(--ion-color-note-primary-rgb);
	--ion-color-contrast: var(--ion-color-note-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-note-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-note-primary-shade);
	--ion-color-tint: var(--ion-color-note-primary-tint);
}

.ion-color-note-grey {
	--ion-color-base: var(--ion-color-note-grey);
	--ion-color-base-rgb: var(--ion-color-note-grey-rgb);
	--ion-color-contrast: var(--ion-color-note-grey-contrast);
	--ion-color-contrast-rgb: var(--ion-color-note-grey-contrast-rgb);
	--ion-color-shade: var(--ion-color-note-grey-shade);
	--ion-color-tint: var(--ion-color-note-grey-tint);
}

.ion-color-note-faint-grey {
	--ion-color-base: var(--ion-color-note-faint-grey);
	--ion-color-base-rgb: var(--ion-color-note-faint-grey-rgb);
	--ion-color-contrast: var(--ion-color-note-faint-grey-contrast);
	--ion-color-contrast-rgb: var(--ion-color-note-faint-grey-contrast-rgb);
	--ion-color-shade: var(--ion-color-note-faint-grey-shade);
	--ion-color-tint: var(--ion-color-note-faint-grey-tint);
}

.ion-color-note-green {
	--ion-color-base: var(--ion-color-note-green);
	--ion-color-base-rgb: var(--ion-color-note-green-rgb);
	--ion-color-contrast: var(--ion-color-note-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-note-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-note-green-shade);
	--ion-color-tint: var(--ion-color-note-green-tint);
}

.ion-color-note-warning {
	--ion-color-base: var(--ion-color-note-warning);
	--ion-color-base-rgb: var(--ion-color-note-warning-rgb);
	--ion-color-contrast: var(--ion-color-note-warning-contrast);
	--ion-color-contrast-rgb: var(--ion-color-note-warning-contrast-rgb);
	--ion-color-shade: var(--ion-color-note-warning-shade);
	--ion-color-tint: var(--ion-color-note-warning-tint);
}