<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Steller Notes ({{getNotes().length}})
    </ion-title>


    <ion-buttons slot="end"  (click)="settings()">
      <button  slot="icon-only">
        <ion-icon slot="end"  name="settings-outline" (click)="settings()"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed"  vertical="center" horizontal="end" *ngIf="should_display">
  <ion-fab-button routerLink="/note">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let note of getNotes()"  [routerLink]="'/note/' + note.id" [detail]="false">
      <ion-label class="ion-text-wrap ion-padding">
        <h2>
          <span *ngIf="!note.protected"> {{ (note.text.length > 12)? (note.text | slice:0:12)+'...':(note.text) }}</span>
          <span *ngIf="note.protected">PROTECTED <ion-icon name="lock-closed"></ion-icon></span>
          <span class="date">
        <ion-note>{{ note.last_modified | date: "yyyy-MM-dd H:mm":"UTC" }}</ion-note>
      </span>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer class="ion-padding">

  <ion-button *ngIf="!appHasPasswordChallenge()" expand="block" (click)="settings('addPassword')">Add Notes App Password</ion-button>

  <div class="ion-padding" align="center">
    <ion-icon name="lock-closed-outline"  style="font-size: 25px"></ion-icon><br><br>
    Encrypted, secured and protected by<br>Steller Security. All data is stored on your phone and not on any server.
  </div>
</ion-footer>
