<ion-header [translucent]="true" mode="md" [class.header-shadow]="headerHasShadow">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!searchMode && !checkboxOpened && !folderBrowserMode">
      <ion-button fill="clear" class="folder-back-button" (click)="backToFolders()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <span>{{ 'folders' | translate }}</span>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!searchMode">
      <span *ngIf="checkboxOpened"
            (click)="toggleCheckbox()"
            style="display:flex; align-items:center;">
        <img src="assets/tabler-icon-x.svg"
             style="position: relative; top: 5px;"
             class="margin-right-top">
        {{listOfCheckedCheckboxes.length}} {{'notesSelected' | translate}}
      </span>

      <ng-container *ngIf="!checkboxOpened">
        <button
          *ngIf="canEditActiveFolderTitle && !isEditingFolderTitle"
          type="button"
          class="home-header-title home-folder-title-button"
          (click)="startFolderTitleEdit()">
          {{ homeHeaderTitle }}
        </button>

        <div *ngIf="canEditActiveFolderTitle && isEditingFolderTitle" class="folder-title-input-wrap">
          <ion-input
            [(ngModel)]="folderTitleDraft"
            class="folder-title-input"
            (ionBlur)="submitFolderTitleEdit()"
            (keyup.enter)="submitFolderTitleEdit()">
          </ion-input>
        </div>

        <span *ngIf="!canEditActiveFolderTitle" class="home-header-title">{{ homeHeaderTitle }}</span>
      </ng-container>
    </ion-title>

    <ion-searchbar
      *ngIf="searchMode"
      #searchbar
      [(ngModel)]="search_query"
      (ionInput)="search()"
      placeholder="{{'searchNotesInput' | translate}}"
      show-clear-button="focus"
      clear-icon="trash-bin"
      animated="true">
    </ion-searchbar>

    <ion-buttons slot="end" style="position: relative; top: 5px;" [class.folder-title-edit-actions-hidden]="isEditingFolderTitle">
      <ng-container *ngIf="!searchMode && !checkboxOpened">
        <ion-button
          *ngIf="canSearchNotes"
          fill="clear"
          (click)="enterSearchMode()">
          <ion-icon name="search-outline" style="font-size: 24px;"></ion-icon>
        </ion-button>

        <ion-button
          *ngIf="canSelectNotesFromCurrentView"
          fill="clear"
          (click)="toggleCheckbox()">
          <img src="assets/tabler-icon-square-check.svg">
        </ion-button>

        <ion-button
          fill="clear"
          style="padding-right: 15px"
          (click)="goToProfile()">
          <img src="assets/user-circle.png" width="24px" height="24px">
        </ion-button>
      </ng-container>

      <ng-container *ngIf="searchMode">
        <ion-button fill="clear" (click)="exitSearchMode()">
          <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar
    *ngIf="waitForSync"
    type="indeterminate"
    color="primary"
    class="header-progress">
  </ion-progress-bar>
</ion-header>

<ion-modal trigger="app-ask-password" [isOpen]="!should_display">
  <ng-template>
    <ion-content class="ion-padding">
      <div align="center">
        <div class="logo-container app-ask-password-logo-container">
          <img class="logo-img" src="./assets/note-logo.png" alt="">
          <div class="logo-text">{{'appNameStellarPrivateNotes' | translate}}</div>
        </div>
      </div>

      <br><br><br>

      <div align="center">
        <img src="assets/icon-lock.svg">
      </div>

      <br><br>

      <div style="text-align: center;
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 150%;">
        {{'appIsLocked' | translate}}
      </div>

      <p style="text-align: center;
                color: #62626A;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;">
        {{'enterYourPasswordToGetAccessToYourNotes' | translate}}
      </p>

      <div class="input-group" style="position: relative;">
        <ion-input
          type="{{ showPassword ? 'text' : 'password' }}"
          placeholder="{{'enterYourPassword' | translate}}"
          (keyup)="ionInputAppUnlockInput($event)"
          [(ngModel)]="input_password_app_unlock"
          autofocus="true">
        </ion-input>

        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </div>

      <span style="display: flex;
                   padding: 14px 24px;
                   justify-content: center;
                   align-items: center;
                   gap: 10px;
                   align-self: stretch;
                   background: #2761FC;
                   color: #fff;
                   border-radius: 250px"
            (click)="unlockNotesApp()">
        {{'unlock' | translate}}
      </span>

      <br><br>
    </ion-content>

    <ion-footer style="--ion-background-color: #F6F6FD; padding: 20px; position: relative; top: -30px; background: #F6F6FD; box-shadow: none;">
      <div align="center">
        <span
          style="font-family: Poppins; text-align: center; font-size: 14px; color: #E10000; font-style: normal; font-weight: 600; line-height: 150%;"
          (click)="resetPassword()">
          <img src="assets/tabler-icon-restore.svg">
          <span style="position: relative; top: -6px; left: 10px">
            {{'resetPassword' | translate}}
          </span>
        </span>
      </div>
    </ion-footer>
  </ng-template>
</ion-modal>

<ion-fab
  class="fab-lift"
  slot="bottom"
  vertical="bottom"
  horizontal="end"
  *ngIf="!checkboxOpened && should_display">
  <ion-fab-button [routerLink]="['/note']" [queryParams]="newNoteQueryParams">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
  *ngIf="should_display"
  scrollEvents="true"
  (ionScroll)="onHomeScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" *ngIf="isLoggedIn()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="home-skeleton" *ngIf="shouldShowHomeSkeleton">
    <div class="home-skeleton-segment">
      <ion-skeleton-text animated style="width: 100%; height: 48px; border-radius: 18px;"></ion-skeleton-text>
    </div>

    <div class="home-skeleton-list">
      <div class="home-skeleton-card" *ngFor="let item of [1,2,3,4,5]">
        <div class="home-skeleton-card-inner">
          <div class="home-skeleton-top">
            <ion-skeleton-text animated style="width: 88px; height: 12px;"></ion-skeleton-text>
          </div>

          <div class="home-skeleton-middle">
            <ion-skeleton-text animated style="width: 52%; height: 16px;"></ion-skeleton-text>
          </div>

          <div class="home-skeleton-bottom">
            <ion-skeleton-text animated style="width: 78%; height: 12px;"></ion-skeleton-text>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!shouldShowHomeSkeleton">
    <div
      *ngIf="checkboxOpened"
      class="checkbox-dismiss-edge"
      (touchstart)="onCheckboxDismissTouchStart($event)"
      (touchmove)="onCheckboxDismissTouchMove($event)"
      (touchend)="onCheckboxDismissTouchEnd()"
      (touchcancel)="onCheckboxDismissTouchEnd()">
    </div>


    <ng-container *ngIf="shouldShowFolderBrowser">
      <div class="folder-browser-screen" *ngIf="!checkboxOpened">
        <div class="folder-browser-section-label">{{ 'folders' | translate }}</div>

        <ion-list class="folder-browser-list">
          <ion-item lines="none" button detail="false" (click)="selectFolder('__all__')">
            <div class="folder-row-icon folder-row-icon-all">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
            <ion-label class="folder-row-label">{{ 'allNotes' | translate }}</ion-label>
            <ion-icon name="chevron-forward-outline" class="folder-row-chevron"></ion-icon>
          </ion-item>

          <ion-item-sliding *ngFor="let folder of folders" #folderSliding>
            <ion-item
              lines="none"
              button
              detail="false"
              (click)="!folderPressTriggered && selectFolder(folder.name)"
              (touchstart)="onFolderTouchStart(folder.name)"
              (touchmove)="onFolderTouchMove()"
              (touchend)="onFolderTouchEnd()"
              (touchcancel)="onFolderTouchEnd()">
              <div class="folder-row-icon folder-row-icon-folder">
                <ion-icon name="folder-outline"></ion-icon>
              </div>
              <ion-label class="folder-row-label">{{ folder.name }}</ion-label>
              <ion-icon name="chevron-forward-outline" class="folder-row-chevron"></ion-icon>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="medium" class="folder-rename-option" (click)="promptRenameFolder(folder.name, folderSliding)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="promptDeleteFolder(folder.name, folderSliding)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <div class="folder-browser-actions">
          <ion-button fill="outline" shape="round" (click)="promptCreateFolder()">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            {{ 'newFolder' | translate }}
          </ion-button>
        </div>

        <div class="folder-browser-empty-state" *ngIf="notes.length === 0 && folders.length === 0">
          <span class="folder-browser-empty-icon">
            <img src="assets/tabler-icon-notes.svg" />
          </span>
          <div class="folder-browser-empty-title">{{ 'yourNotesAwait' | translate }}</div>
          <div class="folder-browser-empty-text">{{ 'tapTo' | translate }} <strong>+ {{ 'button' | translate }}</strong> {{ 'toAddNote' | translate }}</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!shouldShowFolderBrowser">
      <div
        class="favorites-filter"
        *ngIf="!checkboxOpened">
        <div
          class="favorites-filter-line"
          [class.is-dragging]="isPagerDragging"
          [style.transform]="segmentLineTransform">
        </div>

        <ion-segment [value]="activeFilter" (ionChange)="onActiveFilterChange($event.detail.value)">
          <ion-segment-button value="all">
            <ion-label>{{ 'allNotes' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites">
            <ion-label>{{ 'favorites' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-grid
        *ngIf="filteredResults !== null && filteredResults.length == 0 && !isSearching"
        style="height: -webkit-calc(100vh - 170px); height: calc(100vh - 170px);">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="min-height: 100%;">
          <ion-col size-md="12">
            <p class="ion-padding" align="center">
              <span style="background: #EAEAF0;
                           border-radius: 50%;
                           height: 72px;
                           width: 72px;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
                <img src="assets/tabler-icon-notes.svg" />
              </span>
              <br>
              <span style="color: #0B0C19;
                           text-align: center;
                           font-family: Poppins;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           position: relative;">
                {{'yourNotesAwait' | translate}}
              </span>
              <br>
              <span style="overflow: hidden;
                           color: #62626A;
                           text-align: center;
                           text-overflow: ellipsis;
                           font-family: Poppins;
                           font-size: 14px;
                           font-style: normal;
                           font-weight: 400;">
                {{'tapTo' | translate}}
                <span style="color: #2761FC; font-weight: bold">+ {{'button' | translate}}</span>
                {{'toAddNote' | translate}}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        *ngIf="filteredResults !== null && filteredResults.length == 0 && isSearching"
        style="height: -webkit-calc(100vh - 170px); height: calc(100vh - 170px);">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="min-height: 100%;">
          <ion-col size-md="12">
            <p class="ion-padding" align="center">
              <span style="background: #EAEAF0;
                           border-radius: 50%;
                           height: 72px;
                           width: 72px;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
                <img src="assets/tabler-icon-notes.svg" />
              </span>
              <br>
              <span style="color: #0B0C19;
                           text-align: center;
                           font-family: Poppins;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           position: relative;">
                {{'NoResultsFor' | translate}} "{{search_query}}"
              </span>
              <br>
              <span style="overflow: hidden;
                           color: #62626A;
                           text-align: center;
                           text-overflow: ellipsis;
                           font-family: Poppins;
                           font-size: 14px;
                           font-style: normal;
                           font-weight: 400;">
                {{'TryAnotherSearchQuery' | translate}}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>


    <ng-template #favoritesEmptyStateTemplate>
      <ion-grid style="height: -webkit-calc(100vh - 220px); height: calc(100vh - 220px);">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="min-height: 100%;">
          <ion-col size-md="12">
            <p class="ion-padding" align="center">
              <span style="background: #EAEAF0;
                           border-radius: 50%;
                           height: 72px;
                           width: 72px;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
                <ion-icon name="star-outline" style="font-size: 30px; color: #8B8D98;"></ion-icon>
              </span>
              <br>
              <span style="color: #0B0C19;
                           text-align: center;
                           font-family: Poppins;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           position: relative;">
                {{'noFavoritesYet' | translate}}
              </span>
              <br>
              <span style="overflow: hidden;
                           color: #62626A;
                           text-align: center;
                           text-overflow: ellipsis;
                           font-family: Poppins;
                           font-size: 14px;
                           font-style: normal;
                           font-weight: 400;">
                {{'starNotesToKeepThemClose' | translate}}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

    <ng-template #notesListTemplate let-notes>
      <ng-container *ngFor="let note of notes; let i = index; trackBy: trackByNoteId">
        <div
          *ngIf="note.pinned && (i === 0 || !notes[i - 1]?.pinned)"
          style="padding: 8px 16px 6px; color: #62626A; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.04em;">
          {{ 'pinned' | translate }}
        </div>

        <div
          *ngIf="!note.pinned && (i === 0 || notes[i - 1]?.pinned)"
          style="padding: 8px 16px 6px; color: #62626A; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.04em;">
          {{ selectedFolderDisplayName }}
        </div>

        <ion-item
          lines="none"
          (click)="$event.stopPropagation(); openOrCheckbox(note.id)"
          [detail]="false"
          class="long-press-target"
          #longPressElements
          [id]="note.id">
          <div class="box-item-main">
            <ion-checkbox
              *ngIf="checkboxOpened"
              (click)="$event.stopPropagation(); selectNote($event, note.id)"
              justify="center"
              style="margin-right: 7px"
              size="small"
              [checked]="listOfCheckedCheckboxes.includes(note.id) ? true : false"
              id="checkbox_{{note.id}}">
            </ion-checkbox>

            <ion-label class="ion-text-wrap" *ngIf="!note.protected">
              <ion-note class="note-meta-row">
                <span>{{ note.last_modified | date: "yyyy-MM-dd H:mm":(timezone || 'UTC') }}</span>
                <span
                  *ngIf="activeFolderName === '__all__' && (note?.folder ?? '').trim()"
                  class="note-folder-pill">
                  <ion-icon name="folder-outline"></ion-icon>
                  <span>{{ note.folder }}</span>
                </span>
              </ion-note>

              <span *ngIf="isPrivacyModeEnabled(); else visibleNoteContent">
                <span class="note-txt-title">{{ 'privateNoteHidden' | translate }}</span>
              </span>

              <ng-template #visibleNoteContent>
                <span class="note-txt-title" *ngIf="note.title !== undefined">
                  {{ (note.title.length > 40) ? (note.title | striphtml | slice:0:40) + '...' : (note.title | striphtml) }}<br>
                </span>
                <span class="note-txt">
                  {{ (note.text.length > 40) ? (note.text | striphtml | slice:0:40) + '...' : (note.text | striphtml) }}
                </span>
              </ng-template>
            </ion-label>

            <ion-label class="ion-text-wrap" *ngIf="note.protected">
              <span class="note-txt-title">{{ 'thisNoteIsLocked' | translate }}</span>
            </ion-label>

            <div
              *ngIf="!checkboxOpened"
              style="display:flex; align-items:center; margin-left:auto; gap:8px;">
              <img *ngIf="note.protected" src="/assets/tabler-icon-lock.svg">

              <ion-icon
                *ngIf="note.favorite"
                name="star"
                style="font-size:17px; cursor:pointer; color:#F4B400;"
                (click)="toggleFavoriteFromHome($event, note.id)">
              </ion-icon>

              <ion-icon
                *ngIf="note.pinned"
                name="bookmark"
                style="font-size:18px; cursor:pointer; color:#2761FC;"
                (click)="togglePinnedFromHome($event, note.id)">
              </ion-icon>
            </div>

            <img *ngIf="note.protected && checkboxOpened" src="/assets/tabler-icon-lock.svg">
          </div>
        </ion-item>
      </ng-container>
    </ng-template>

    <ng-container *ngIf="shouldUsePager; else standardNotesList">
      <div
        #pagerShell
        class="home-pager-shell"
        (touchstart)="onPagerTouchStart($event)"
        (touchmove)="onPagerTouchMove($event)"
        (touchend)="onPagerTouchEnd()"
        (touchcancel)="onPagerTouchCancel()">
        <div
          class="home-pager-track"
          [class.is-dragging]="isPagerDragging"
          [style.transform]="pagerTransform">
          <section class="home-page-pane">
            <ion-list>
              <ng-container *ngTemplateOutlet="notesListTemplate; context: { $implicit: allVisibleNotes }"></ng-container>
            </ion-list>
          </section>

          <section class="home-page-pane">
            <ng-container *ngIf="favoriteVisibleNotes.length > 0; else favoritesEmptyStateTemplate">
              <ion-list>
                <ng-container *ngTemplateOutlet="notesListTemplate; context: { $implicit: favoriteVisibleNotes }"></ng-container>
              </ion-list>
            </ng-container>
          </section>
        </div>
      </div>
    </ng-container>

    <ng-template #standardNotesList>
      <ion-grid
        *ngIf="activeFilter === 'all' && visibleNotes.length == 0 && filteredResults !== null && filteredResults.length > 0 && !isSearching"
        style="height: -webkit-calc(100vh - 220px); height: calc(100vh - 220px);">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="min-height: 100%;">
          <ion-col size-md="12">
            <p class="ion-padding" align="center">
              <span style="background: #EAEAF0;
                           border-radius: 50%;
                           height: 72px;
                           width: 72px;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
                <ion-icon name="folder-open-outline" style="font-size: 30px; color: #8B8D98;"></ion-icon>
              </span>
              <br>
              <span style="color: #0B0C19;
                           text-align: center;
                           font-family: Poppins;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           position: relative;">
                {{ currentFolderEmptyTitle }}
              </span>
              <br>
              <span style="overflow: hidden;
                           color: #62626A;
                           text-align: center;
                           text-overflow: ellipsis;
                           font-family: Poppins;
                           font-size: 14px;
                           font-style: normal;
                           font-weight: 400;">
                {{ currentFolderEmptyDescription }}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        *ngIf="activeFilter === 'favorites' && visibleNotes.length == 0 && filteredResults !== null && filteredResults.length > 0 && !isSearching"
        style="height: -webkit-calc(100vh - 220px); height: calc(100vh - 220px);">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="min-height: 100%;">
          <ion-col size-md="12">
            <p class="ion-padding" align="center">
              <span style="background: #EAEAF0;
                           border-radius: 50%;
                           height: 72px;
                           width: 72px;
                           display: flex;
                           align-items: center;
                           justify-content: center;">
                <ion-icon name="star-outline" style="font-size: 30px; color: #8B8D98;"></ion-icon>
              </span>
              <br>
              <span style="color: #0B0C19;
                           text-align: center;
                           font-family: Poppins;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           position: relative;">
                {{'noFavoritesYet' | translate}}
              </span>
              <br>
              <span style="overflow: hidden;
                           color: #62626A;
                           text-align: center;
                           text-overflow: ellipsis;
                           font-family: Poppins;
                           font-size: 14px;
                           font-style: normal;
                           font-weight: 400;">
                {{'starNotesToKeepThemClose' | translate}}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list *ngIf="visibleNotes.length > 0">
        <ng-container *ngTemplateOutlet="notesListTemplate; context: { $implicit: visibleNotes }"></ng-container>
      </ion-list>
    </ng-template>

    </ng-container>
  </ng-container>
</ion-content>

<ion-modal
  [isOpen]="newFolderModalOpen"
  cssClass="new-folder-modal"
  [backdropDismiss]="true"
  [showBackdrop]="true"
  (didDismiss)="cancelCreateFolderModal()">
  <ng-template>
    <ion-content class="new-folder-modal-content">
      <div class="new-folder-sheet">
        <div class="new-folder-sheet-icon">
          <ion-icon name="folder-open-outline"></ion-icon>
        </div>
        <div class="new-folder-sheet-title">{{ folderModalTitle }}</div>
        <div class="new-folder-sheet-text">{{ 'folderNamePlaceholder' | translate }}</div>

        <div class="new-folder-sheet-input-wrap">
          <ion-input
            [(ngModel)]="newFolderName"
            [placeholder]="allTranslations?.folderNamePlaceholder ?? ('folderNamePlaceholder' | translate)"
            class="new-folder-sheet-input"
            (keyup.enter)="confirmCreateFolderModal()"
            autofocus="true">
          </ion-input>
        </div>

        <div class="new-folder-sheet-actions">
          <ion-button fill="clear" class="new-folder-sheet-cancel" (click)="cancelCreateFolderModal()">
            {{ 'cancel' | translate }}
          </ion-button>
          <ion-button class="new-folder-sheet-create" (click)="confirmCreateFolderModal()">
            {{ folderModalConfirmLabel }}
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-toolbar slot="fixed" class="toolbar-bottom" *ngIf="checkboxOpened && visibleNotes.length > 0">
  <ion-button
    color="primary"
    shape="round"
    fill="outline"
    class="delete-btn"
    [disabled]="listOfCheckedCheckboxes.length == 0"
    (click)="moveSelectedNotesToFolder()">
    <ion-icon name="folder-open-outline" style="margin-right: 10px"></ion-icon>
    {{'move' | translate}}
  </ion-button>
  <ion-button
    color="danger"
    shape="round"
    fill="outline"
    class="delete-btn"
    [disabled]="listOfCheckedCheckboxes.length == 0"
    (click)="deleteSelectedNotes()">
    <img src="assets/tabler-icon-trash.svg" style="margin-right: 15px">
    {{'delete' | translate}} ({{listOfCheckedCheckboxes.length}})
  </ion-button>
</ion-toolbar>
