ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

button {
  background: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

span.uuid {
  color: #a2a2a2;
  font-size: 10px;
}

ion-footer {
  background-color: #fff;
}

ion-fab {
  top: auto;
  bottom: 50px;
  right: 15px;
}

ion-img.add {
  width: 50px;
  height: 50px;
}

.note-list {
  --padding-top: 0;
}

.note-search {
  display: flex;
  padding: 10px 15px 10px 22px;
  background: white;
  border-radius: 30px;
  width: 100%;
  margin: 16px;
  margin-bottom: 8px;

  input {
    border: none;
    outline: none;
    width: 100%;
    color: #263238;
  }

  ion-icon {
    width: 24px;
    height: 24px;
  }
}

// Footer section

ion-list.footer-action {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;

  background: transparent;

  ion-item {
    --background: transparent;
    --min-height: 0;
  }
}

// Password
.password-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.password-desc {
  text-align: center;
  font-size: 12px;
}

.new-password {
  margin-bottom: 15px;
  margin-top: 44px;
}

.confirm-password {
  margin-bottom: 40px;
}
// Modal
ion-modal.password {
  ion-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 500px;
  }

  .forget-btn {
    justify-content: flex-end;

    ion-button {
      --padding-bottom: 0;
      --padding-end: 0;
      --padding-start: 0;
      --padding-top: 0;
      min-height: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
      font-family: Tw Cen MT Std;
      text-transform: none;
    }
  }
}
