<ion-modal
  id="example-modal"
  #modal
  trigger="open-custom-dialog"
  [isOpen]="true"
>
  <ng-template>
    <div class="wrapper">
      <ion-list lines="none" class="modal-content">
        <ng-container *ngIf="iconSection.templateRef">
          <ion-row class="icon-img">
            <ng-container
              [ngTemplateOutlet]="iconSection.templateRef"
            ></ng-container>
          </ion-row>
        </ng-container>
        <ion-row>
          <p class="title">Are you sure?</p>
        </ion-row>
        <ion-row class="desc">
          <p>You want to delete this Notepad? This action cannot be undone.</p>
        </ion-row>
        <ng-container *ngIf="actionSection.templateRef">
          <ion-toolbar>
            <ion-buttons class="actions">
              <ng-container
                [ngTemplateOutlet]="actionSection.templateRef"
              ></ng-container>
            </ion-buttons>
          </ion-toolbar>
        </ng-container>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>
